<div class="welcome-container">
    <h1>¡Bienvenido a Nuestra Aplicación!</h1>
    <p>
      Nos alegra tenerte aquí. <br>
      Somos el grupo #9: <br>
      * Bryan Anderson Castro Cañizares<br>
      * Danny Ismael Solano Moncada<br>
      * Dennys Samuel Valencia Mosquera<br>
      * Brayan Ariel Endara Tigrero<br>
      * Jorge Andres Sornoza Santana
    </p>
    <div class="members-container">
      <div class="column">
        <div class="info-box">
          <p>Bryan Anderson Castro Cañizares<br>
          Edad: 22 años<br>
          Lenguajes de programación: Java, C++<br>
          Base de datos: Oracle, MySQL<br>
          Diseño web: HTML<br>
          Proyectos: He colaborado en proyectos realizando inventario de productos de ferretería y programas que simulen el sistema de ventas para farmacias.</p>
        </div>
        <div class="info-box">
          <p>Danny Ismael Solano Moncada<br>
          Edad: 25 años<br>
          Lenguajes de Programación: Java, Python, C++<br>
          Base de Datos: Oracle, MySQL, PostgreSQL<br>
          Diseño Web: HTML<br>
          Proyectos: He trabajado con Java web y My SQL para realizar un sistema de carrito de compras, prototipos de app móviles para educación y transporte, uno de los problemas con los que me topé fue lograr conectar el proyecto al servidor y a la base de datos.</p>
        </div>
        <div class="info-box">
          <p>Dennys Samuel Valencia Mosquera<br>
          Edad: 24 años<br>
          Lenguajes de programación: Java, C#, TypeScript, JavaScript, C<br>
          Base de datos: MySQL Workbench.<br>
          Diseño web: HTML, CSS, JavaScript<br>
          Frameworks: Angular, NestJS<br>
          Proyectos: Elaboré un backend donde se registran todas las modificaciones que se realizan en los diferentes sistemas de una empresa, trabajando con NestJS, Elaboración de Frontend de una página web para una farmacia, utilizando React, Material UI, TypeScript.</p>
        </div>
      </div>
      <div class="column">
        <div class="info-box">
          <p>Brayan Ariel Endara Tigrero<br>
          Edad: 26 años<br>
          Lenguajes de programación: Java, C#<br>
          Base de datos: MySQL Workbench<br>
          Diseño web: HTML, CSS, JavaScript<br>
          Proyectos: He colaborado en proyectos con lenguaje Java en la implementación de un sistema de facturación para una empresa pastelera. Del mismo modo colaboré en la implementación de un sistema de votación para cierta entidad universitaria, enlazada con una base de datos.</p>
        </div>
        <div class="info-box">
          <p>Jorge Andrés Sornoza<br>
          Edad: 26 años<br>
          Lenguajes de programación: Java, C++<br>
          Base de datos: Oracle, MySQL<br>
          Diseño web: HTML<br>
          Proyectos: He colaborado con proyectos de diseño de un sistema para venta de productos Tecnológicos y que se enlace a una base de datos.</p>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" class="like-button">Me gusta</button>
  </div>
  