<mat-card>
    <mat-card-header>
      <mat-card-title>DOCENTES</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="table-container">
        <table mat-table [dataSource]="docentes" class="mat-elevation-z8">
          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let docente"> {{docente.nombre}} </td>
          </ng-container>
  
          <!-- Apellido Column -->
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef> Apellido </th>
            <td mat-cell *matCellDef="let docente"> {{docente.apellido}} </td>
          </ng-container>
  
          <!-- Cédula Column -->
          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Cédula </th>
            <td mat-cell *matCellDef="let docente"> {{docente.cedula}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="button-container">
        <button mat-raised-button id="guardar">ANTERIOR</button>
        <button mat-raised-button id="actualizar">SIGUIENTE</button>
      </div>
    </mat-card-content>
  </mat-card>
  


